{% extends "layout.html" %}
{% block content %}
<center>
  <div id="map" style="height: 600px;width: 600px;margin-top: 20px;"></div>
</center>
<script>
  var lats = [];
  var lngs = [];
</script>
{% for lat in lats %}
<script>
  this.lats.push("{{lat}}");
</script>
{% endfor %} {% for lng in lngs %}
<script>
  this.lngs.push("{{lng}}");
</script>
{% endfor %}
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: new google.maps.LatLng(-37.810021, 144.963001),
      zoom: 14
    });
    var features = [];
    var InfoObj = [];
    for (var i = 0; i <= lats.length - 1; i++) {
      features.push({
        position: new google.maps.LatLng(lats[i], lngs[i])
      });
    }
    // Create markers.
    for (var i = 0; i < features.length; i++) {
      const marker = new google.maps.Marker({
        position: features[i].position,
        map: map
      });
    }
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key={private key}"
></script>
{% endblock content %}
